<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/local" />
		<property name="username" value="SRV_TRDIARY" />
		<property name="password" value="bzJ3Dh+KOi6v" />
	</bean>
	
	 <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
	
	<bean id="jdbc" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="namedJdbc" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg ref="dataSource"/>
	</bean>
	
	<bean id="userDao" class="ru.traindiary.dao.UserDao">
		<property name="jdbc" ref="jdbc"/>
	</bean>
	
	<bean id="userRolesDao" class="ru.traindiary.dao.UserRolesDao">
		<property name="jdbc" ref="jdbc"/>
	</bean>
	
	<bean id="profileDao" class="ru.traindiary.dao.ProfileDao">
		<property name="jdbc" ref="jdbc" />
	</bean>
	
	<bean id="measurementDao" class="ru.traindiary.dao.MeasurementDao">
		<property name="jdbc" ref="jdbc" />
	</bean>
	
	<bean id="trainingDao" class="ru.traindiary.dao.TrainingDao">
		<property name="jdbc" ref="jdbc" />
	</bean>
	
	<bean id="userService" class="ru.traindiary.service.UserService">
		<property name="userDao" ref="userDao"/>
		<property name="userRolesDao" ref="userRolesDao"/>
		<property name="profileDao" ref="profileDao"/>
		<property name="measurementDao" ref="measurementDao"/>
	</bean>
	
	<bean id="measurementService" class="ru.traindiary.service.MeasurementService">
		<property name="measurementDao" ref="measurementDao"/>
	</bean>
	
	<bean id="trainingService" class="ru.traindiary.service.TrainingService">
		<property name="trainingDao" ref="trainingDao"/>	
	</bean>
	
	<import resource="spring-beans.xml" />

</beans>